l1-10.ephec-ti.be, www.l1-10.ephec-ti.be {
    # On intercepte les Websockets et l'API pour les envoyer au Backend
    handle /socket.io/* {
        reverse_proxy backend:3000
    }
    handle /api/* {
        reverse_proxy backend:3000
    }

    # Tout le reste du trafic web va vers le Frontend
    handle {
        reverse_proxy frontend:5173
    }
}